
.bigBlurContainer{
    min-height: 110vh;
    width: 100vw;
    backdrop-filter: blur(10px);
    position: fixed;
}
.addNoteContainer{
    animation: imageWave 1.35s ease-in-out alternate-reverse infinite both;
    width: 450px;
    height: 420px;
    border-radius: 10px;
    margin: auto;
    transition: all ease-in-out 1s;
    transform: translate(0%,40%);
}
.innerContainer{
    padding: 15px;
   
}
.title , .description{
    font-size: 24px;
    font-weight: 500;
    color: white;
}
.titleContainer{
    margin-top: 10px;
}
.titleContainer input{
    outline: none;
    height: 50px;
    width: 400px;
    border-radius: 2px;
    border: none;
    padding-left: 5px;
    font-size: large;
    margin-top: 10px;
}
.descriptionContainer{
    margin-top: 30px;
}
.descriptionContainer textarea{
    outline: none;
    height: 150px;
    width: 400px;
    border-radius: 2px;
    border: none;
    padding-left: 5px;
    padding-top: 5px;
    font-size: large;
    margin-top: 10px;
    resize: none;
}
.buttonContainer{
    display: flex;
    width: 400px;
    padding: 5px;
    justify-content: space-between;
}
.buttonContainer button{
    margin-top: 10px;
    padding: 2px 5px;
    border-radius: 3px;
    cursor: pointer;
}
@keyframes imageWave {
    from {
      background: linear-gradient(45deg,#d7bf25b3,#5a15b4b7);
    }
    to {
      background: linear-gradient(45deg,#5a15b4b7,#d7bf25b3);
    }
  }